<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DataAccessLayer.Application" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="DataAccessLayer.database.ConnectionString" connectionString="Data Source=Data Source=270882-WEB2\SQLEXPRESS;Initial Catalog=Shop;Integrated Security=False;User Id=sa;password=3400663;" />
        <add name="DataAccessLayer.Properties.Settings.DatabaseConnectionString"
            connectionString="Data Source=Data Source=270882-WEB2\SQLEXPRESS;Initial Catalog=Shop;Integrated Security=False;User Id=sa;password=3400663;"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>