<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <clear/>
    <add name="CommonDbConnectionString" 
         connectionString="Data Source=.\SQL2008; Initial Catalog=SimplicityCommDB; User Id=sa; password=sa;" 
         providerName="System.Data.SqlClient" />
  
  </connectionStrings>  
</configuration>